:root {
    --color-bg: #020c1b;
    --font-sans: "Trebuchet MS", Helvetica, sans-serif; 
    --font-mono: "SF Mono","Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --color-bright: #eee;
    --color-main: #aaa;
    --color-contrast: #d9970d;
    --color-card: #1a1b29;
}
* {margin: 0;}
html {scroll-behavior: smooth;box-sizing: border-box;}
body {background-color:var(--color-bg);cursor:default;}
.sans {font-family:var(--font-sans);}
.mono {font-family:var(--font-mono);}
.color-main {color:var(--color-main);}
.color-bright {color:var(--color-bright);}
.color-contrast {color:var(--color-contrast);}
.gap {gap: 2rem;}
#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(2,12,27,.7);
    display: none; 
}
p {
    font-size: 1.2rem;
    font-family: var(--font-sans);
    font-weight: 200;
    padding-bottom: 1rem;
}
#nav-container {
    display: flex;
    flex-flow: row-reverse;
    background-color: rgba(2,12,27, 0.8);
}
.main-nav, .mobile-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.mobile-nav {
    height: 100vh;
    padding-top: 60px;
    visibility: hidden;
    z-index: 0;
}
.main-nav a, .mobile-nav a {
    font-family: var(--font-mono);
    padding: 1.5rem 2.5rem 1.5rem .5rem;
    text-decoration: none;
    color: var(--color-bright);
    font-size: 1.2rem;
}
.main-nav .menu-icon {
    display: none;
}
.bi-list {
    width: 1rem;
    height: 1rem;
    font-size: 2rem;
}
.container {
    box-sizing: border-box;
    width: 75%;
    min-height: 100vh;
    margin: auto;
    padding-top: 22vh;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.small {
    font-size: 1.2rem;
    padding: 0;
}
.header-name, .header-pitch {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.header-p {
    max-width: 600px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 2rem;
}
.header-icons {
    display: flex;
    justify-content: center;
}
.bi-linkedin, .bi-github {
    width: 1rem;
    height: 1rem;
    font-size: 2.5rem;
    margin: 2rem;
    display: inline-block;
}
.bi-arrow-up-circle {
    width: 1rem;
    height: 1rem;
    font-size: 2.3rem;
    margin-left: 2rem;
    color: var(--color-bright);
}
.section-header {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-contrast);
}
#contact-modal .section-header {
    border-bottom: 2px solid var(--color-contrast);
}
.section-title {
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--font-sans);
    color: var(--color-bright);
}
#contact-modal .section-title {
    color: var(--color-bg)
}
.flex-item {
    flex: 1 1 0;
}
.about-flex-img {
    width: 100%;
    max-width: 320px;
    min-width: 240px;
    height: auto;
}
.about-flex-p {
    flex: 3 1 0;
    min-width: 320px;
}
.about-flex-p a {
    color: var(--color-bright);
    text-decoration: none;
}
.resume {
    padding: 1rem 0;
}
.bi-file-earmark-arrow-down {
    margin-left: .5rem;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    margin: 7vh auto;
}
.modal-content {
    border: 1px solid var(--color-bright);
    border-radius: .3rem;
    background-color: var(--color-bright);
    flex-direction: row;
    justify-content: flex-end;
}
#contact-modal.modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    border: 2px solid var(--color-bg);
    background-color: var(--color-bright);
    border-radius: .3rem;
}
#contact-modal .modal-content {
    width: 80%;
    margin: 5vh auto;
    background-color: var(--color-bright);
    border: none;
    flex-direction: row;
    justify-content: flex-end;
}
.contact-modal-container {
    max-height: 89vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#download-icon {
    padding: .3rem 1.5rem 0;
    cursor: pointer;
}
.bi-download {
    width: 1rem;
    height: 1rem;
    font-size: 1.5rem;
    color: var(--color-bg);
}
.close {
    border-top-right-radius: .3rem;
    color: var(--color-bg);
    font-size: 2rem;
    font-weight: bold;
    padding: 0 1.5rem;
    cursor: pointer;
}
.close-contact-modal {
    border-radius: 0;
    color: var(--color-bg);
    float: right;
}
#resume-frame {
    width: 100%;
    height: 83vh; 
}
.card {
    background-color: var(--color-card);
    border-radius: .3rem;
    width: 320px;
    height: 360px;
    color: var(--color-main);
    transition: transform .4s;
    position: relative;
}
.card-block {
    width: 100%;
    justify-content: space-around;
}
.card-block a {
    color: var(--color-main);
    text-decoration: none;
}
.card-img-box {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
}
.card-img {
    width: 6rem;
    height: 6rem;
    border-radius: .3rem;
}
.bi-box-arrow-up-right {
    width: 1rem;
    height: 1rem;
    font-size: 2rem;
    color: var(--color-bright);
    padding: 1rem 2rem 2rem 1rem;
}
.card-h3 {
    color: var(--color-bright);
    font-size: 1.5rem;
    padding: 1rem;
}
.card-p {
    font-size: 1rem;
    padding: 0 1rem .5rem;
}
.card-skills {
    position: absolute;
    bottom: .1rem;
}
.ed-flex-item-container, .cert-flex-item-container {
    width: 100%;
    justify-content: space-evenly;
}
.cert-flex-item-container a {
    text-decoration: none;
}
.cert-flex-item-container a:hover {
    transform: scale(1.01);
    transition: all 0.2s;
}
.ed-flex-item, .cert-flex-item {
    box-sizing: border-box;
    border: 2px solid var(--color-bright);
    border-radius: .3rem;
    /* max-width: 380px; */
    max-width: 420px;
    min-width: 280px;
    min-height: 160px;
    padding: 2rem;
    flex: 1 1 380px;
}
.cert-flex-item {
    display:flex;
    align-items: center;
    padding: 1.5rem;
    min-height: unset;
}
.cert-flex-item > div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
}
.cert-flex-item h4 {
    margin: 4px 0;
}
.cert-flex-item img {
    width: 48px;
    height: 48px;
}
.cert-flex-item small, .cert-flex-item h4 {
    width:100%;
}
.ed-flex-item small {
    font-size: 1rem;
    font-weight:lighter;
}
.ed-flex-item h4 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: .5rem 0;
}
.ed-flex-item p {
    font-size: 1rem;
    padding-top: 1rem;
    display: inline;
}
.uis-logo {
    width: 1.3em;
    height: auto;
    margin: 0 0.3em 0 0;
}
.amu-logo {
    width: 1.5em;
    height: auto;
    margin: 0 0.3em 0 0;
}
#skills {
    margin-bottom: 40px;
}
.skills-flex-item-container {
    width: 95%;
    margin: auto;
    justify-content: flex-start;
}
.flex-skill {
    font-family: var(--font-mono);
    border: 1px solid var(--color-bright);
    border-radius: .3rem;
    flex: 0 1 auto;
    padding: 1rem;
}
.card-skills .flex-skill {
    padding: 0 1rem 1rem;
    border: none;
}
.contact-form-flex-container {
    width: 95%;
    margin: auto;
}
.contactform {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
    cursor: default;
}
#contact input, #contact textarea {
    box-sizing: border-box;
    background-color: var(--color-bg);
    width: 100%;
    margin-bottom: 1rem;
    padding: .8rem;
    border-radius: .3rem;
    font-family: var(--font-mono);
    font-size: 1.2rem;
    color: var(--color-bright);
    border: 2px solid var(--color-main);
    resize: none;
}
#contact-modal input, #contact-modal textarea {
    box-sizing: border-box;
    background-color: var(--color-bright);
    width: 100%;
    margin-bottom: 1rem;
    padding: .8rem;
    border-radius: .3rem;
    font-family: var(--font-mono);
    font-size: 1.2rem;
    color: var(--color-bg);
    border: 2px solid var(--color-bg);
    resize: none;
    transition: transform .2s;
}
#contact input:focus, #contact textarea:focus {
    outline: 1px solid var(--color-contrast);
    border: 1px solid var(--color-contrast);
}
#contact .btn {
    width: auto;
    text-align: center;
    border: 2px solid var(--color-contrast);
    font-family: var(--font-mono);
    margin-right: 1rem;
}
#contact .btn:active, #contact-modal .btn:active {
    transform: translate(1px, 2px);
}
#contact-modal .btn {
    width: auto;
    text-align: center;
    border: 2px solid var(--color-bg);
    font-family: var(--font-mono);
    margin-right: 1rem;
}
::placeholder {
    font-family: var(--font-mono);
    font-size: 1.2rem;
    color: var(--color-bright);
}
#contact-modal ::placeholder {
    color: var(--color-main);
}
.bi-linkedin:hover, .bi-github:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}
.card:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}
#contact-modal input:hover, #contact-modal textarea:hover {
    transform: scale(1.01);
    transition: all 0.2s;
}
#contact .btn:hover {
    cursor: pointer;
}
#contact-modal .btn:hover {
    cursor: pointer;
    background-color: var(--color-main);
}
#contact .btn:active, #contact-modal .btn:active {
    transform: translate(1px, 2px);
}
@media screen and (max-width: 768px) {
    .gap {gap: 1rem;}
    p {font-size: 1rem;}
    .main-nav {
        visibility: hidden;
        z-index: 0;
    }
    .mobile-nav.open {
        visibility: visible;
        z-index: 1;
        background-color: rgba(2,12,27, 0.9);
        transition: background-color .6s;
    }
    a.mobile.navlink {
        font-size: 2rem;
        padding: 0;
        padding-top: 2rem;
        display: block;
        opacity: 0;
    }
    a.mobile.navlink.responsive {
        opacity: 1;
        transition: opacity 1.2s;
        text-align: center;
    }
    .container {
        width: 90%;
        padding-top: 15vh;
    }
    .small {font-size: 1rem;}
    .header-name, .header-pitch {font-size: 3rem;}
    .header-p {font-size: 1rem; margin-top: 1.5rem;}
    .bi-linkedin, .bi-github {font-size: 2rem; margin: 1.5rem;}
    .bi-arrow-up-circle {font-size: 1.8rem; margin-left: 1rem;}
    .section-title {font-size: 2rem;}
    #contact input, #contact textarea {margin-bottom: .8rem;}
    div.hamburger-container.fixed {
        position: fixed;
        top: 0;
        right: 60px;
        z-index: 7;
    }
    #hamburger {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 30px;
        margin-left: 82%;
        padding-top: 30px;
        transform: rotate(0deg);
        transition: transform .5s ease-in-out;
        cursor: pointer;
        z-index: 7;
    }
    #hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: var(--color-bright);
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #hamburger span:nth-child(1) {
        bottom: 20px;
    }
    #hamburger span:nth-child(2), #hamburger span:nth-child(3) {
        bottom: 10px;
    }
    #hamburger span:nth-child(4) {
        bottom: 0px;
    }
    #hamburger.open span:nth-child(1), #hamburger.open span:nth-child(4) {
        bottom: 10px;
        width: 0%;
        left: 50%;
    }
    #hamburger.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
}
@media screen and (min-width: 601px) {
    .gap {gap: 1.5rem;}
    .main-nav a {font-size: 1rem;}
    .section-title {font-size: 2rem;}
    .bi-arrow-up-circle {font-size: 1.8rem; margin-left: 1rem;}
    .small {font-size: 1rem;}
    .header-name, .header-pitch {font-size: 3rem;}
    .header-p {font-size: 1rem; margin-top: 1.5rem;}
    .bi-linkedin, .bi-github {font-size: 2rem; margin: 1.5rem;}
    #contact input, #contact textarea {margin-bottom: .8rem;}
}
@media screen and (min-width: 769px) {
    .gap {gap: 2rem;}
    .main-nav a {font-size: 1rem;}
    .section-title {font-size: 2.5rem;}
    .bi-arrow-up-circle {font-size: 2rem; margin-left: 1.5rem;}
    .small {font-size: 1.2rem;}
    .header-name, .header-pitch {font-size: 4rem;}
    .header-p {font-size: 1.2rem; margin-top: 2rem;}
    .bi-linkedin, .bi-github {font-size: 2.5rem; margin: 2rem;}
}
@media screen and (min-width: 992px) {
    #contact {display: none;}
    .main-nav a {font-size: 1.2rem;}
    .section-title {font-size: 3rem;}
    .bi-arrow-up-circle {font-size: 2.3rem; margin-left: 2rem;}
    .main-nav a:hover {
        color: var(--color-contrast);
    }
    .bi-arrow-up-circle:hover {
        color: var(--color-contrast);
    }
    .about-flex-p a:hover {
        color: var(--color-contrast);
    }
    #download-icon:hover {
        background-color: #bbb;
    }
    .close:hover {
        background-color: red;
        color: var(--color-bright);
    }
}